* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body {

    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(45deg, #059212 25%, #fff 25%); /* Warna pertama 20%, warna kedua 80% */
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar-toggle {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 60px; /* Atur tinggi logo sesuai kebutuhan */
    margin-right: 10px;
    border-radius: 10px;
}

.logo-text h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.logo-text p {
    margin: 0;
    color: #ddd;
    font-size: 14px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu li a {
    text-decoration: none;
    color: #059212;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-menu li a:hover{
    border-bottom: 2px solid #059212;
}

.navbar-right .bj {
    background-color: #059212;
    padding: 26px 40px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}

.navbar-right .bj:hover {
    background-color: #fff;
    color: #059212;
    border-color: #059212;
    border-style: solid;
}

.navbar-menu a.active {
    color: #059212; /* Warna teks saat aktif */
    font-weight: bold; /* Teks tebal */
    border-bottom: 2px solid #059212; /* Garis bawah saat aktif */
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.profil:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}



.judul {
    position: relative;
    width: 100%;
    height: 450px; /* Atur tinggi sesuai kebutuhan */
    overflow: hidden; /* Agar gambar yang melebihi tinggi terpotong */
}

.judul img {
    image-rendering: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memotong gambar sesuai dengan area elemen */
}

.text-overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Background semi-transparan */
    color: white;
    display: flex;
    justify-content: center; /* Memusatkan teks secara horizontal */
    align-items: center; /* Memusatkan teks secara vertikal */
    text-align: center;
    border-radius: 5px; /* Opsional: Menambahkan efek melengkung pada sudut */
}

.text-overlay h1{
    font-weight: 900;
}




.footer-section{
    color: #f2f2f2;
    background-color: #059212;
    height: 200px;
}

.content-footer{
    padding: 20px;
    margin: 100px 200px 100px 200px;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.sub-content{
    margin-top: 30px;
    width: 400px;
    justify-content: space-between;
}

.icon{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.icon i{
    color: #9BEC00;
    font-size: 30px;
}
.icon h1{
    color: #fff;
    font-size: 30px;
}





.container{
    margin: 100px 100px 100px 100px;
}

.table{
    width: 1300px;
}
.form-group select{
    border-color: #059212;
}

.form-group option::placeholder {
    background-color: #059212;
}

.form-group select:focus{
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

select option:hover {
    box-shadow: 0 0 10px 100px red inset !important;
    color:white;
  }
  select option:checked{
    box-shadow: 0 0 10px 100px red inset !important;
    }

.container h2{
    font-weight: bold;
    margin-bottom: 10px;
    color: #059212;
}

table th{
    background-color: #059212;
    color: #fff;
    text-align: center;
}

table td{
    text-align: start;

}

table tr:nth-child(even){
   
}

.pagination{
    width: 250px;
    background-color: #059212;
    color: #fff;
    height: 50px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination li{
    width: 30px;
    border-radius: 10px;
    height: 30px;
    padding: 3px;
    margin: auto;
}
.pagination li:hover{
    cursor: pointer;
    background-color: #fff;
    color: #059212;
}
    table tbody tr {
      display: none;
    }


    
.footer-section{
    color: #f2f2f2;
    background-color: #059212;
    height: 200px;
}

.content-footer{
    padding: 20px;
    margin: 100px 200px 100px 200px;
    display: flex;
    gap: 3rem;
    justify-content: center;

}

.sub-content{
    margin-top: 30px;
    width: 400px;
    justify-content: space-between;
    text-align: center;
}

.icon{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.icon i{
    color: #9BEC00;
    font-size: 30px;
}
.icon h1{
    color: #fff;
    font-size: 30px;
}



@media screen and (max-width: 400px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position below the toggle button */
        left: 85%;
        transform: translateX(-50%); /* Centers the menu horizontally */
        background-color: #fff;
        width: 150px; /* Adjust width to your needs */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden; /* Hide overflowing content */
        max-height: 0; /* Set initial height to 0 for animation */
        transition: max-height 1s ease-out; /* Transition for smooth animation */
    }
  
    .navbar-right {
        display: none;
    }
  
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: linear-gradient(45deg, #059212 65%, #fff 15%);
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
  
    .navbar-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        color: #059212;
    }
  
    .navbar-menu.active {
        display: flex;
        max-height: 300px;
    }
  
    /* Menu item container (li) */
    .navbar-menu li {
        display: flex; /* Use flexbox to center contents */
        align-items: center; /* Vertically centers content */
        justify-content: center; /* Horizontally centers content */
        height: 30px; /* Adjust height to your needs */
        width: 100%; /* Make sure li takes full width */
    }
  
    /* Link styling (a) */
    .navbar-menu li a {
        display: flex; /* Use flexbox */
        justify-content: center; /* Horizontally centers text */
        align-items: center; /* Vertically centers text */
        width: 80%; /* Makes sure link spans the entire list item */
        padding: 8px;
        font-size: 10px;
        text-align: center;
        margin-right: 50px;
    }
  
  
  
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo img {
        width: 30px;
        height: 30px; /* Atur tinggi logo sesuai kebutuhan */
        margin-right: 10px;
        border-radius: 10px;
    }
    
    .logo-text h1 {
        margin: 0;
        color: #fff;
        font-size: 20px;
    }
    
    .logo-text p {
        margin: 0;
        color: #ddd;
        font-size: 10px;
    }
  
    .judul{
      height: 200px;
    }
  
    .judul h1{
      margin-top: 40px;
      font-size: 20px;
    }
  
.container{
    margin: 30px 20px 50px 20px;
}

.container h2{
    font-size: 20px;
}
    .table1{
        width: 300px;
    }

    #table-id{
        width: 300px;
    }

    .table tr{
        font-size: 5px;
    }
  
    
.pagination{
    width: 200px;
    background-color: #059212;
    color: #fff;
    height: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination li{
    width: 20px;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 10px;
}
.pagination li:hover{
    cursor: pointer;
    background-color: #fff;
    color: #059212;
}
    table tbody tr {
      display: none;
    }



    .footer-section{
      height: auto;
      margin: auto;
      padding: 0;
      width: auto;
  }
  .content-footer{
      flex-wrap: wrap;
      gap: 0.5rem;
      text-align: center;
      width: 300px;
      margin: auto;
      text-align: center;
  }
  
  .sub-content .icon{
      text-align: center;
      margin: auto;
  }
  .sub-content{
      text-align: center;
      width: 300px;
      margin-bottom: 0;
  }
  
  .icon i{
      font-size: 20px;
  }
  .icon h1{
      font-size: 20px;
  }
  
  .sub-content p{
      font-size: 15px;
  }
  
  
  }
  
  @media screen and (min-width: 401px) and (max-width: 720px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position below the toggle button */
        left: 85%;
        transform: translateX(-50%); /* Centers the menu horizontally */
        background-color: #fff;
        width: 180px; /* Adjust width to your needs */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden; /* Hide overflowing content */
        max-height: 0; /* Set initial height to 0 for animation */
        transition: max-height 1s ease-out; /* Transition for smooth animation */
    }
  
    .navbar-right {
        display: none;
    }
  
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: linear-gradient(50deg, #059212 68%, #fff 65%);
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
  
    .navbar-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 40px;
        cursor: pointer;
        color: #059212;
    }
  
    .navbar-menu.active {
        display: flex;
        max-height: 300px;
    }
  
    /* Menu item container (li) */
    .navbar-menu li {
        display: flex; /* Use flexbox to center contents */
        align-items: center; /* Vertically centers content */
        justify-content: center; /* Horizontally centers content */
        height: 40px; /* Adjust height to your needs */
        width: 100%; /* Make sure li takes full width */
    }
  
    /* Link styling (a) */
    .navbar-menu li a {
        display: flex; /* Use flexbox */
        justify-content: center; /* Horizontally centers text */
        align-items: center; /* Vertically centers text */
        width: 100%; /* Makes sure link spans the entire list item */
        padding: 8px;
        font-size: 15px;
        text-align: center;
        margin-right: 50px;
    }
  
  
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo img {
        width: 50px;
        height: 50px; /* Atur tinggi logo sesuai kebutuhan */
        margin-right: 10px;
        border-radius: 10px;
    }
    
    .logo-text h1 {
        margin: 0;
        color: #fff;
        font-size: 20px;
    }
    
    .logo-text p {
        margin: 0;
        color: #ddd;
        font-size: 15px;
        width: 200px;
    }
  
    
    .judul{
      height: 300px;
    }
  
    .judul h1{
      margin-top: 40px;
      font-size: 25px;
    }
   
.container{
    margin: 50px 20px 50px 20px;
}

.container h2{
    font-size: 25px;
}
    .table1{
        width: 350px;
    }

    #table-id{
        width: 350px;
    }

    .table tr{
        font-size: 5px;
    }
  
    
.pagination{
    width: 200px;
    background-color: #059212;
    color: #fff;
    height: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination li{
    width: 20px;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 10px;
}
.pagination li:hover{
    cursor: pointer;
    background-color: #fff;
    color: #059212;
}
    table tbody tr {
      display: none;
    }


  
    .footer-section{
      height: auto;
      margin: auto;
      padding: 0;
      width: auto;
  }
  .content-footer{
      flex-wrap: wrap;
      gap: 0.5rem;
      text-align: center;
      width: 300px;
      margin: auto;
      text-align: center;
  }
  
  .sub-content .icon{
      text-align: center;
      margin: auto;
  }
  .sub-content{
      text-align: center;
      width: 300px;
      margin-bottom: 0;
  }
  
  .icon i{
      font-size: 20px;
  }
  .icon h1{
      font-size: 20px;
  }
  
  .sub-content p{
      font-size: 15px;
  }
  
  
  }
  @media screen and (min-width: 721px) and (max-width: 1280px) {
    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Position below the toggle button */
        left: 85%;
        transform: translateX(-50%); /* Centers the menu horizontally */
        background-color: #fff;
        width: 200px; /* Adjust width to your needs */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-left: 10px;
        overflow: hidden; /* Hide overflowing content */
        max-height: 0; /* Set initial height to 0 for animation */
        transition: max-height 1s ease-out; /* Transition for smooth animation */
    }
  
    .navbar-right {
        display: none;
    }
  
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: linear-gradient(50deg, #059212 68%, #fff 65%);
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
  
    .navbar-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 40px;
        cursor: pointer;
        color: #059212;
    }
  
    .navbar-menu.active {
        display: flex;
        max-height: 300px;
    }
  
    /* Menu item container (li) */
    .navbar-menu li {
        display: flex; /* Use flexbox to center contents */
        align-items: center; /* Vertically centers content */
        justify-content: center; /* Horizontally centers content */
        height: 60px; /* Adjust height to your needs */
        width: 100%; /* Make sure li takes full width */
    }
  
    /* Link styling (a) */
    .navbar-menu li a {
        display: flex; /* Use flexbox */
        justify-content: center; /* Horizontally centers text */
        align-items: center; /* Vertically centers text */
        width: 100%; /* Makes sure link spans the entire list item */
        padding: 8px;
        font-size: 20px;
        text-align: center;
        margin-right: 30px;
    }
  
  
  
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo img {
        width: 70px;
        height: 70px; /* Atur tinggi logo sesuai kebutuhan */
        margin-right: 10px;
        border-radius: 10px;
    }
    
    .logo-text h1 {
        margin: 0;
        color: #fff;
        font-size: 30px;
    }
    
    .logo-text p {
        margin: 0;
        color: #ddd;
        font-size: 20px;
    }
  
    
    
    .judul{
      height: 400px;
    }
  
    .judul h1{
      margin-top: 40px;
      font-size: 30px;
    }
 
.container{
    margin: 50px 50px 50px 40px;
}

.container h2{
    font-size: 30px;
    width: 600px;
}
    .table1{
        width: 6000px;
    }

    #table-id{
        width: 600px;
    }

    .table tr{
        font-size: 10px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
  
    
.pagination{
    width: 200px;
    background-color: #059212;
    color: #fff;
    height: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination li{
    width: 20px;
    border-radius: 10px;
    height: 20px;
    margin-bottom: 10px;
}
.pagination li:hover{
    cursor: pointer;
    background-color: #fff;
    color: #059212;
}
    table tbody tr {
      display: none;
    }

    .footer-section{
      height: auto;
      margin: auto;
      padding: 0;
      width: auto;
  }
  .content-footer{
      flex-wrap: wrap;
      gap: 0.5rem;
      text-align: center;
      width: 300px;
      margin: auto;
      text-align: center;
  }
  
  .sub-content .icon{
      text-align: center;
      margin: auto;
  }
  .sub-content{
      text-align: center;
      width: 300px;
      margin-bottom: 0;
  }
  
  .icon i{
      font-size: 20px;
  }
  .icon h1{
      font-size: 20px;
  }
  
  .sub-content p{
      font-size: 15px;
  }
  
  
  }
  
  @media screen and (min-width: 1281px) and (max-width: 1440px) {
    
  }
  
  @media screen and (min-width: 1441px) and (max-width: 1920px) {
    
  }
  
  @media screen and (min-width: 1921px) {
    
  }